html {
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    .navbar-brand {
        color: #0073bd !important;
    }
    .ml-auto {
        font-size: 13px;
    }
    button {
        border: 0px;
    }
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/doctor-man.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    .container {
        .display-4 {
            font-family: 'Montserrat', sans-serif;
            color: white;
        }
        .lead {
            color: white;
            font-family: 'Lato', sans-serif;
        }
        .terms {
            width: 30%;
            color: white;
            font-size: 13px;
            font-family: 'Lato', sans-serif;
            a {
                color: #000080;
            }
        }
        button {
            border-radius: 0px;
            font-size: 13px;
        }
    }
}

.text-center {
    font-family: 'Montserrat', sans-serif;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    .col-md-3 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            margin-top: 10px;
            text-align: center;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            span {
                font-weight: bold;
            }
        }
    }
}

.info {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    .col-md-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            font-family: 'Lato', sans-serif;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

#main {
    margin-bottom: 40px;
    h3 {
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .card {
        border: none;
        border-radius: 0px;
        .card-header {
            border: none;
        }
        .collapse {
            border: none;
            font-family: 'Lato', sans-serif;
        }
    }
    .collapsible-link {
        width: 100%;
        position: relative;
        text-align: left;
    }
    .btn-link {
        text-decoration: none;
    }
    .collapsible-link::before {
        content: '\f107';
        position: absolute;
        top: 50%;
        right: 0rem;
        transform: translateY(-50%);
        display: block;
        font-family: 'FontAwesome';
        font-size: 1.1rem;
    }
    .collapsible-link[aria-expanded='true']::before {
        content: '\f106';
    }
    span {
        color: #0073BD;
    }
    .acceptance {
        margin-top: 50px;
    }
}

.footer {
    min-height: 300px;
    background-image: linear-gradient(180deg, #05aded, #0073bd);
    color: white;
    .container {
        padding-top: 50px;
        p {
            text-align: center;
            font-size: 13px;
            font-family: 'Lato', sans-serif;
        }
        .grids {
            display: flex;
            justify-content: space-around;
            .one {
                font-family: 'Lato', sans-serif;
                font-size: 15px;
            }
            .three {
                font-family: 'Lato', sans-serif;
                display: flex;
                flex-direction: column;
                font-size: 13px;
            }
            .two {
                h5 {
                    color: black;
                    font-weight: bold;
                }
                i {
                    padding: 10px;
                }
            }
            a {
                cursor: pointer;
                color: white;
            }
            a:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
    hr {
        border: 1px solid white;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0px !important;
        .navbar-nav {
            padding-left: 10px;
        }
    }
    .hero {
        height: 80vh;
        .container {
            .terms {
                width: 100%;
                font-size: 11px;
                a {
                    color: #0073bd;
                }
            }
        }
    }
    .steps {
        flex-direction: column;
    }
    .info {
        flex-direction: column;
    }
    #main {
        h3 {
            text-align: center;
        }
        .btn-link {
            text-align: left;
        }
        .call-to-action {
            padding-top: 20px;
            text-align: center;
            margin: 0 auto;
            width: 70%;
        }
    }
    .footer {
        margin-bottom: 0px;
        .grids {
            flex-direction: column;
            .one {
                padding-left: 20px;
            }
            .three {
                padding-left: 20px;
            }
            .two {
                padding-left: 20px;
                margin-top: 40px;
            }
        }
        p {
            padding-bottom: 50px;
            margin-bottom: 0px !important;
        }
    }
}